body {
	background-color: #1C1469;
	color: #8074EC;
	font-family: monospace;
}


.container {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, auto);
	grid-template-areas: "header header header"
		"welcome picture picture"
		"education education skills"
		"hobbies softsk skills"
		"portfolio portfolio portfolio"
		"footer footer footer";
}

.container .menu {
	box-shadow: 1px 2px 5px #150F4F;
	max-width: 70%;
	border-radius: 25px;
	color: #8074EC;
	grid-area: header;
	background-color: transparent;
	display: flex;
	position: fixed;
	left: 35%;
}


.menu_items {
	display: flex;
	list-style: none;
	margin-right: 10px;
	margin-left: 10px;
	

}

.menu_items li {
	margin: 0 10px;
	font-size: 18px;
	margin-top: 10px;
	

}

.menu_items li a {
	text-decoration: none;
	display: block;
	color: #8074EC;
}

.btn_menu {
	font-size: 30px;
	float: right;
	margin-right: 10px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}

.container .welcome {
	border-color: black;
	border-style: none;
	grid-area: welcome;
	margin-top: 50px;

}


.words {
	border-color: red;
	border-style: none;
}


.container .picture {
	border-color: red;
	border-style: none;
	height: 400px;
	display: flex;
	min-height: 100px;
	grid-area: picture;
	padding: 10px;
	margin: auto;

}

.container .education {
	padding: 10px;
	border-style: outset;
	border-color: black;
	grid-area: education;

}

.container .hobbies {
	padding: 10px;
	border-style: outset;
	border-color: black;
	grid-area: hobbies;
}

.container .skills {
	padding: 10px;
	border-style: outset;
	border-color: black;
	grid-area: skills;
}

.container .softsk {
	padding: 10px;
	border-style: outset;
	border-color: black;
	grid-area: softsk;
}


.portfolio {
	margin-top: 40px;
	background-color: #0e093a;
	height: 500px;
	grid-area: portfolio;
	border-radius: 70px 10px;
	padding: 70px;
	text-align: center;
}

.project {
	text-align: left;
	border-style: solid;
	border-color: black .9;
	padding: 10px;
	margin-top: 10px;
}

.project a {
	text-decoration: none;
	color: #8074EC;
}



.nombre, .project a:hover, li a:hover {
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: red;
	transition: .4s;
}

span {
	animation: jump 1s infinite;
	transform: translatey(0);
	display: inline-block;
	font-size: 28px;
	color: black;
	animation-timing-function: ease-in;
}

span:nth-child(1) {
	animation-delay: 0;
}

span:nth-child(2) {
	animation-delay: 0.2s;
}

span:nth-child(7) {
	animation-delay: 0.6s;
}

@keyframes jump {
	0% {
		transform: translatey(0);
	}
	30% {
		transform: translatey(-10px);
	}
	50% {
		transform: translatey(100px);
	}
	80% {
		transform: translatey(110px);
	}
}

@media screen and (max-width: 1325px) {
	.menu_items li {
		margin: 0 10px;
		font-size: 16px;
		margin-top: 10px;
	}
}


@media screen and (max-width: 976px) {
	.container {
		grid-template-areas: "header header header"
			"welcome welcome welcome"
			"picture picture picture"
			"education education education"
			"hobbies softsk skills"
			"portfolio portfolio portfolio"
			"footer footer footer";


	}

	.container .welcome {
		text-align: center;
	}

	.container {
		margin: 10px auto;
	}

	.container .menu {
		display: flex;
		position: fixed;
		left: 90%;
		box-shadow: none;
	}

	.btn_menu {
		display: block;
		border-radius: 20%;
		margin-right: 10px;
	}


	.menu ul {
		position: fixed;
		width: 85%;
		height: 100vh;
		transition: all .5s;
		left: -100%;
		border-radius: 2%;
		background: rgba(0, 0, 0, .5);
	}

	.menu_items {
		display: block;
		line-height: 90px;
		text-align: center;
	}

	nav ul li a {
		border-bottom: 1px solid aliceblue;
		font-size: 15px;
		width: 100%;
	}

	.menu li a:hover {
		
		text-decoration-line: none;
		border-bottom: 1px solid red;
		
		border-bottom-style: groove;
		
		border-bottom-width: 5px;
		transition: .4s;
		border-radius: 2%;
		width: 100%;
	}

	#check:checked~ul {
		left: -20px;
	}



	
}

@media screen and (max-width: 743px) {
	.container {
		grid-template-areas: "header header header"
			"welcome welcome welcome"
			"picture picture picture"
			"education education education"
			"hobbies hobbies hobbies"
			"softsk softsk softsk"
			"skills skills skills"
			"portfolio portfolio portfolio"
			"footer footer footer";
	}

}