@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
  }

body {
	background-color: #1C1469;
	color: #8074EC;
	font-family: monospace;
}


.container {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(7, auto);
	grid-template-areas: "header header header"
		"welcome picture picture"
		"welcome2 picture picture"
		"education education skills"
		"hobbies softsk skills"
		"portfolio portfolio portfolio"
		"footer footer footer";
}

.container .box_menu {
	display: flex;
	justify-content: center;
	width: 100%;
	grid-area: header;
}
.container .menu {
	box-shadow: 1px 2px 5px #150F4F;
	border-radius: 25px;
	background-color: transparent;
	min-width: 35%;	
	position: fixed;
}

#check {
	display: none;
}

.menu_items {
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin: auto;
}

.menu_items li {
	margin: 10px 10px;
	font-size: 18px;
	
}

.menu_items li a {
	text-decoration: none;
	display: inline-block;
	color: #8074EC;
}

.btn_menu {
	cursor: pointer;
	display: none;
}

.container .welcome {
	border-color: black;
	border-style: none;
	grid-area: welcome;
	margin-top: 80px;

}

.container .welcome2 {
	grid-area: welcome2;
	margin-bottom: 120px;
}

.words {
	border-color: red;
	border-style: none;
}


.container .picture {
	border-color: red;
	border-style: none;
	height: 400px;
	display: flex;
	min-height: 100px;
	grid-area: picture;
	padding: 10px;
	margin: auto;
	margin-top: 70px;

}

.container .education {
	padding: 10px;
	border-style: outset;
	border-color: black;
	grid-area: education;

}

.container .hobbies {
	padding: 10px;
	border-style: outset;
	border-color: black;
	grid-area: hobbies;
}

.container .skills {
	padding: 10px;
	border-style: outset;
	border-color: black;
	grid-area: skills;
}

.container .softsk {
	padding: 10px;
	border-style: outset;
	border-color: black;
	grid-area: softsk;
}


.portfolio {
	margin-top: 40px;
	background-color: #0e093a;
	height: 500px;
	grid-area: portfolio;
	border-radius: 70px 10px;
	padding: 70px;
	text-align: center;
}

.project {
	text-align: left;
	border-style: solid;
	border-color: rgb(73, 72, 72);
	padding: 10px;
	margin-top: 10px;
	position: relative;
}

.project a {
	text-decoration: none;
	color: #8074EC;
}

.project .content {
	position: absolute;
	top: 15px;
	padding: 15px
}

svg,
rect {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
}

rect {
	stroke: black;
	stroke-width: 3;
	stroke-dasharray: 400;
	animation: animate 4s linear infinite;
}

.ocultomenu {
	display: none;
}

.nombre,
.project a:hover,
li a:hover {
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: red;
	transition: .4s;
}

span {
	animation: jump 1s infinite;
	transform: translatey(0);
	display: inline-block;
	font-size: 15px;
	color: black;
	animation-timing-function: ease-in;
	font-family: 'Press Start 2P', cursive;
}

