@media screen and (max-width: 743px) {
	.two {
		grid-template-columns: repeat(1, 1fr);
	}

	h2 {
		font-size: 3rem;
	}

	span {
		font-size: 2rem;
	}

	.portfolio_container {
		flex-direction: column;
	}

}